<ul id="slide-out" class="side-nav fixed main-side">
    <li class="lone">
        <a href="#"><i class="fas fa-home my-icon"></i>Home</a>
    </li>
    <div class="divider"></div>
    <li class="lone subheader center-align">Features</li>
    <li class="lone"><a class="waves-effect" href="#"><i class="fas fa-calculator my-icon"></i>Sales</a></li>
    <li class="lone"><a class="waves-effect" href="#"><i class="fas fa-cart-plus my-icon"></i>Incomes</a></li>
    <li class="lone"><a class="waves-effect" href="#"><i class="fas fa-users my-icon"></i>Suppliers</a></li>
    <li class="lone"><a class="waves-effect" href="#"><i class="fas fa-clipboard-list my-icon"></i>Reports</a></li>
</ul>