<h1>Tasks</h1>
<div class="filter-inputs">
    <mat-form-field>
        <mat-label>User</mat-label>
        <mat-select [(value)]="selectedUsers" multiple>
            <mat-option *ngFor="let user of users" [value]="user.firstName">
                {{user.firstName}} {{user.lastName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select [(value)]="state">
            <mat-option [value]="1">To do</mat-option>
            <mat-option [value]="2">In Progress</mat-option>
            <mat-option [value]="3">Done</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<app-tasks-table *ngIf="tasks && tasks.length>0" [tasks]="tasks" (deleteTaskEvent)="delete($event)"
    (assignTaskEvent)="assing($event)">
</app-tasks-table>

<button mat-fab class="add-task-button">
    <mat-icon aria-label="Example icon-button with a heart icon" routerLink="/create-task" matTooltip="Create new task">
        add</mat-icon>
</button>