<mat-card>
  <mat-card-header>
    <mat-card-title>Unassign tasks statistic</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="unassignChartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>New tasks statistic</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="newTaskschartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Completed tasks statistic</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="completeTaskschartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Technology statistic</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="techChartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  </mat-card-content>
</mat-card>