.container-fluid{
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 568px) {
    .container-fluid {
      width: 550px;
    }
  }
  @media (min-width: 992px) {
    .container-fluid {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container-fluid {
      width: 1170px;
    }
  }