<div id="login-box">
  <div class="left">
    <h1>Log in</h1>
    <form #f="ngForm" novalidate (ngSubmit)="login(f)">
      <input id="email" type="text" name="email" placeholder="E-mail" ngModel />
      <input id="password" type="password" name="password" placeholder="Password" ngModel />
      <input type="password" name="password2" placeholder="Retype password" />

      <input type="submit" name="signup_submit" [disabled]="f.invalid || isRequesting" value="Log in" />
    </form>
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>

    <button class="social-signin facebook">Log in with facebook</button>
  </div>
  <div class="or">OR</div>
</div>
<div *ngIf="errors" class="alert alert-danger" role="alert">
  <strong>Oops!</strong> {{errors}}
</div>
