.task-page-form > .mat-form-field{
    display: block;
}

.mat-card{
    padding: 20px;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
  }

.mat-progress-bar{
    padding: 15px 0;
    margin: 20px 0;
}
  
.task-page-grid-list{

    div{
        padding-top: 15px;
    }

    input{
        border: none;
        outline: none;
        background: transparent;
        padding: 15px;
        border-radius: 6px;
        border-style: dotted;
        border-color: transparent;
    }

    input.title-input{
        font-size: 24px;
    }

    textarea{
        border: none;
        outline: none;
        background: transparent;
        padding: 15px;
        border-radius: 6px;
        width: 100%;
        border-style: dotted;
        border-color: transparent;
    }
    
    input:focus,
    textarea:focus{
        background-color: white;
        border-color: gray;
    }
}