<!-- <mat-grid-list cols="10" rowHeight="50px">
  <mat-grid-tile [colspan]="1">
    <div class="text-inside-grid">
      <mat-icon svgIcon="assignment"></mat-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="9">
    <div class="text-inside-grid">
      <input class="title-input" [(ngModel)]="task.title">
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <div class="text-inside-grid">3</div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="9">
    <div class="text-inside-grid">4</div>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="task-page-grid-list" *ngIf="task">
  <div>
    <input class="title-input" [(ngModel)]="task.title">
  </div>
  <div>
    <textarea class="descr-input" [(ngModel)]="task.description"> {{task.description}}</textarea>
  </div>
  <div>
    <h4>
      Assignee: {{task.user}}
      <button mat-icon-button>
        <mat-icon>assignment_ind</mat-icon>
      </button></h4>
  </div>
  <div>
    {{progressValue}}%
    <mat-progress-bar class="example-margin" [mode]="determinate" [value]="progressValue">
    </mat-progress-bar>
  </div>
  <div>
    <h5>Estimate: <input [(ngModel)]="task.estimate"></h5>
  </div>
  <div>
    <button mat-raised-button color="primary">Save</button>
  </div>
</div>