<h1 id="taskTitle"></h1>

<mat-card *ngIf="task">
  <form class="task-page-form">
    <mat-form-field class="example-full-width">
      <input id="title" name="title" matInput placeholder="Title" [(ngModel)]="task.title">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea id="description" name="description" [(ngModel)]="task.description" matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input disabled name="user" matInput placeholder="User" [(ngModel)]="task.userName">
      <mat-icon matSuffix (click)="assign()">assignment_ind</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input name="estimate" matInput type="number" placeholder="Estimate" min="0" [(ngModel)]="task.estimate" />
    </mat-form-field>

    <mat-progress-bar mode="determinate" value="progressValue"></mat-progress-bar>
  </form>
  <button mat-raised-button (click)="logTime()">Log time</button>
  <button mat-raised-button color="primary" (click)="update()">Update</button>
</mat-card>

<!-- <div class="task-page-grid-list" *ngIf="task">
  <div>
    <input class="title-input" [(ngModel)]="task.title">
  </div>
  <div>
    <textarea class="descr-input" [(ngModel)]="task.description"> {{task.description}}</textarea>
  </div>
  <div>
    <h4>
      Assignee: {{task.user}}
      <button mat-icon-button>
        <mat-icon>assignment_ind</mat-icon>
      </button></h4>
  </div>
  <div>
    {{progressValue}}%
    <mat-progress-bar class="example-margin" [mode]="determinate" [value]="progressValue">
    </mat-progress-bar>
  </div>
  <div>
    <h5>Estimate: <input [(ngModel)]="task.estimate"></h5>
  </div>
  <div>
    <button mat-raised-button color="primary">Save</button>
  </div>
</div> -->